$primary-color: #fff;
$secondary-color: #bc9d5d;
$font-color-main: #4d4d4d;
$content-max-width: 1250px;

@mixin easeOut {
  // first parameter is what you want to transit, color or all or etch..
  // second parameter is the lenght
  // third parameter is the transition feature
  transition: all 0.5s ease-out;
}

// Set Text color
@function set-text-color($color) {
  @if (lightness($color) > 40) {
    @return #000;
  } @else {
    @return #fff;
  }
}

// MEdia Query Mixins
@mixin mediaSm {
  @media screen and (max-width: 500px) {
    @content;
  }
}

@mixin mediaMd {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin mediaLg {
  @media screen and (min-width: 769px) and (max-width: 1170px) {
    @content;
  }
}

@mixin mediaXl {
  @media screen and (min-width: 1171px) {
    @content;
  }
}

@mixin border_off {
  @media screen and (max-width: 1250px) {
    @content;
  }
}
