// Menu overlay

.menu-btn {
  visibility: hidden;
}
.menu {
  position: fixed;
  top: 0;
  width: 100%;

  height: 85px;
  z-index: 2;

  // == menu-
  &-nav {
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
    // get rid off the bullet points in nav list elements
    list-style: none;
    text-align: center;

    background-color: rgba(0, 0, 0, 0.7);
  }

  // Styles for <li>-items
  .nav-item {
    display: inline-block;
    font-size: 0.9rem;
    font-weight: 500;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    letter-spacing: 0.1rem;
    opacity: 1;

    a {
      color: $primary-color;
      text-decoration: none;
    }

    &.current > a {
      color: $secondary-color;
    }
  }

  .nav-link {
    text-transform: uppercase;
    // padding just to top and bottom:
    padding: 1rem 0;
    color: $primary-color;
    text-decoration: none;
    @include easeOut;

    &:hover {
      color: $secondary-color;
    }
  }
}

.some {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;

  cursor: pointer;
  @include easeOut;

  a {
    opacity: 0.9;
    color: $primary-color;
  }
}
