// widescreens
@include mediaXl {
}

// Desktop & Laptop
@include mediaLg {
}

// Tablets & Small laptops
// and anything below this..
@include mediaMd {
  .menu-btn {
    visibility: visible;
    position: absolute;
    z-index: 3;
    right: 0px;
    top: 0px;
    cursor: pointer;
    @include easeOut;

    padding: 30px;

    background-color: rgba(0, 0, 0, 0.7);

    .btn-line {
      width: 28px;
      height: 3px;
      margin: 0 0 5px 0;
      background: $secondary-color;
      @include easeOut;
    }

    // Changes the "open menu" icon to look like "close menu" item
    // With Rotate transformation function
    &.close {
      transform: rotate(180deg);

      .btn-line {
        // select each line

        // Line 1 - rotate
        &:nth-child(1) {
          transform: rotate(45deg) translate(5px, 5px);
          background-color: $secondary-color;
        }
        // line 2 - Hide
        &:nth-child(2) {
          opacity: 0;
        }

        // Line 3 -rotate
        &:nth-child(3) {
          transform: rotate(-45deg) translate(7px, -6px);
          background-color: $secondary-color;
        }
      }
    }
  }

  .menu {
    // == menu
    position: absolute;
    visibility: hidden;

    &-nav {
      display: flex;
      overflow: hidden;
      flex-direction: column;
      width: 100%;
      padding-top: 100px;
      padding-bottom: 30px;
      margin-bottom: 0px;
      margin-top: 0px;

      // get rid off the bullet points in nav list elements
      list-style: none;

      // moves the navigation out of the screen
      // 100% pushes the element from up to botton
      // -100% pushes the element from bottom to up
      // property can be either px or %
      transform: translate3d(-100%, 0, 0);
      @include easeOut;

      &.show {
        // height: 100vh;
        // Slide the menu from top

        transform: translate3d(0, 0, 0);
        @include easeOut;
      }
    }

    &.show {
      visibility: visible;
    }
    // Styles for <li>-items
    .nav-item {
      font-size: 1.5rem;
    }

    .some {
      position: relative;
      text-align: center;
      width: 100%;
      padding-left: 0px;
      background-color: rgba(0, 0, 0, 0.7);
      padding-top: 30px;
      padding-bottom: 30px;
      right: 0px;
      top: 0px;

      transform: translate3d(-100%, 0, 0);
      @include easeOut;

      &.show {
        // height: 100vh;
        // Slide the menu from top

        transform: translate3d(0, 0, 0);
        @include easeOut;
      }

      /* 
        position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
      */

      a {
        margin: 40px;
      }
    }
  }

  main,
  #main-footer {
    align-items: center;
    text-align: center;
  }

  .campaign {
    grid-template-areas:
      "c_text c_text"
      "c_image1 c_image2";

    grid-template-columns: repeat(2, 1fr);
  }

  .menu-items {
    flex-direction: column;
  }

  .contacts {
    flex-direction: column;
  }
}

// Smartfones
@include mediaSm {
  main#home h1 {
    margin-top: 10vh;
  }
}

@include border_off {
  .campaign {
    &.campaign_border {
      border: none;
    }
  }
}
