// Imports the mixin functions and variables from _config.scss file
@import "config";
@import "menu";
// Applies to all elements
* {
  /* Border-box: If we use padding, it doesn't affect the width or height of the box */
  box-sizing: border-box;
}

body {
  background: $primary-color;

  color: rgba(77, 77, 77, 1);
  /* height: 100%;*/

  // Margin 0 takes default spacing off from the sides of the view
  margin: 0;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  font-size: 0.9rem;
}

h1,
h2,
h3 {
  font-family: Pacifico;
}

h1 {
  font-size: 4.5rem;
  padding-bottom: 0px;
  font-weight: normal;
}

h2 {
  font-size: 2.6rem;
  padding-bottom: 0px;
  margin-bottom: 0px;
  font-weight: normal;
}

h3 {
  font-size: 1.8rem;
  font-weight: normal;
}

h4 {
  font-size: 0.7rem;
  font-weight: bolder;
  text-transform: uppercase;
  color: $secondary-color;
  letter-spacing: 0.2em;
}

a {
  color: $secondary-color;
  font-weight: bolder;
  text-decoration: none;
}

// Button Styles
// You could put these into separate _button.scss file if you want but not mandatory
.btn {
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  letter-spacing: 0.1em;
  display: inline-block;

  margin: 1rem;
  text-transform: uppercase;
  font-weight: bolder;
  text-decoration: none;

  &:hover {
    background: $secondary-color;
    color: set-text-color($secondary-color);
  }
}

.btn-light {
  // extend the btn class styles into these substyles btn-light and btn-dark
  @extend .btn;
  border-width: 2px;
  border-radius: 5px;
  border-style: solid;
  border-color: rgba($secondary-color, 0.9);
  color: $secondary-color;
}

.some {
  a {
    padding-left: 0.6rem;

    &:hover {
      color: $secondary-color;
      @include easeOut();
    }
  }
}

.hero {
  background: url("../img/ravintola_1-1-1920x1001.png");
  background-attachment: fixed;
  background-size: cover;

  height: 60vh;
  max-height: 500px;

  display: flex;
  align-items: center;

  margin: auto;

  padding-top: 90px;
  padding-bottom: 60px;
  position: relative;
  z-index: 0;
  text-align: center;

  img {
    margin: auto; /* Magic! */
    max-width: 100%;
    max-height: 100%;
  }

  h1 {
    color: #fff;
    margin: auto;
    font-weight: normal;
  }
}

.tagline {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba($secondary-color, 0.9);

  color: $primary-color;

  font-size: 0.7rem;
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.tagline_independent {
  width: 100%;
  background: $secondary-color;

  color: $primary-color;

  font-size: 0.7rem;
  font-weight: bolder;
  letter-spacing: 0.1rem;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;

  h2 {
    font-size: 2rem;
  }
}
// .campaign is the main grid container style
.campaign {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 3fr 3fr 6fr;
  grid-template-areas: "c_image1 c_image2 c_text";
  max-width: $content-max-width;
  padding: 46px;
  margin: auto;

  &.campaign_border {
    border: $secondary-color 1px solid;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .image-1 {
    grid-area: c_image1;
    margin: auto;
    border-radius: 5px;
    width: 100%;
  }

  .image-2 {
    grid-area: c_image2;
    margin: auto;
    border-radius: 5px;
    width: 100%;
  }

  .content_text {
    grid-area: c_text;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
  }
}

.heading-section {
  text-align: center;
  max-height: 400px;

  min-height: 50vh;
  margin: auto;
  padding-top: 90px;
  position: relative;

  // Define here individual image for the bg of the heading section
  &.bg-menu {
    background: url("../img/bg_menu.jpg");
    background-attachment: fixed;
    background-size: cover;
  }

  h1 {
    color: #fff;
    margin-bottom: 0px;
  }
}

/* Menu heading made with flex box*/
.menu-items {
  max-width: 1250px;
  padding: 20px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
}
.menu-heading {
  // Menu heading is created with flex
  display: flex;

  align-items: stretch;
  width: 100%;
  float: left;
  flex: 0 1 100%;
}

.menu-heading > .title-text {
  padding-left: 20px;
  padding-right: 20px;
}

.menu-heading > .title-line {
  flex: 1;
  border-top: 2px rgba($secondary-color, 0.7) solid;
  border-bottom: 2px rgba($secondary-color, 0.7) solid;
  margin-top: 65px;
  margin-bottom: 55px;
  padding-bottom: 3px;
}

// Menu items

.menu-part1 {
  flex: 1 0 45%;
  margin-left: 20px;
}

.menu-part2 {
  flex: 1 0 45%;
  margin-left: 20px;
}

.menu-item {
  border-bottom: $secondary-color 2px dotted;
  padding: 15px;
  margin-right: 20px;
  display: flex;

  &.discount {
    border: $secondary-color 2px solid;
  }
}

.menu-name > b {
  text-transform: uppercase;
  color: $font-color-main;
  font-family: Futura;
}

.menu-name {
  flex: 1;
  color: lighten($font-color-main, 35);
}

.menu-price {
  color: $secondary-color;
  font-size: 1.5rem;
  text-align: right;
  line-height: 1rem;

  .discount_text {
    font-size: 0.7rem;
    line-height: 0.7rem;
  }
}

// Contact page
.contacts {
  // Let's use flex instead of grid-css
  display: flex;
  max-width: $content-max-width;
  margin: auto;
  justify-content: space-between;

  // When the content won't fit in to the row the items are stacked into rows
  flex-wrap: wrap;

  align-items: top;
  margin-top: 1rem;

  div {
    margin-bottom: 3rem;
    margin: 30px;
    flex: 0 1 1;
  }
}

#main-footer {
  background-color: #000;
  color: #eaeaea;
  text-align: left;
  line-height: 1.5rem;
  margin: auto;
  margin-top: 0px;
  padding-top: 0px;

  position: relative;

  background: url("../img/bg_ravintola.jpg") rgba(0, 0, 0, 0.3);
  background-attachment: fixed;
  background-size: cover;
  z-index: -1;

  background-size: cover;
  background-blend-mode: multiply;
}

.far {
  padding-right: 10px;
}

@import "mobile";
